.app {
  width: 435px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  z-index: 1;

  &__slider {
    position: relative;
    z-index: -2;
    padding: 35px 36px 7px 28px;
    border-radius: 5px 5px 0 0;

    background-image: url('../../images/app/man.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--color-black);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      border-radius: 5px 5px 0 0;

      background-color: #78909c;
      opacity: 0.3;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 162px;
  }

  &__shop {
    width: 20px;
    height: 19px;

    svg {
      fill: var(--color-white);
    }
  }

  &__menu {
    width: 56px;
    height: 56px;
    padding: 15px;
    border: 3px solid #e1e5e8;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      width: 15px;
      height: 10px;
      display: block;
      position: relative;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        height: 3px;
        width: 15px;
        background-color: var(--color-white);
        left: 0;
        transition: width 0.2s ease-in-out;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }

      &:hover::after {
        width: 30px;
      }
    }
  }

  &__title {
    font: var(--font-text);
    font-size: 48px;
    line-height: 36px;
    margin-bottom: 12px;
    color: var(--color-white);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__count__all {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-white);
  }

  &__count {
    display: flex;
    align-items: center;

    &-element {
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      opacity: 0.5;
      background-color: var(--color-white);

      &:not(:last-child) {
        margin-right: 7px;
      }
    }

    &-element.active {
      display: block;
      width: 10px;
      height: 10px;
      opacity: 1;
    }
  }

  &__descr {
    padding: 50px 67px 48px;
    background-color: var(--color-white);
  }

  &__btn {
    position: relative;
    font: var(--font-links);
    font-size: 24px;
    padding: 27px 70px;
    border: 3px solid #eceff1;
    border-radius: 5px;
    color: #455a64;

    span {
      display: block;
      position: absolute;
      bottom: -40px;
      right: -50px;
      z-index: 1;
      width: 100px;
      height: 100px;
      background-color: #d9f2fc;
      border: 2px solid #75d1f5;
      border-radius: 100%;
    }

    span::before {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      top: 50%;
      left: 50%;
      z-index: 2;
      background-color: #75d1f5;
      transform: translate(-50%, -50%);
      border-radius: 100%;
    }
  }
}
