.customers {
  position: relative;
  z-index: 1;
  margin-bottom: 185px;

  &__title {
    font: var(--font-title);
    margin-bottom: 61px;
    line-height: 64px;
    max-width: 690px;
  }

  &__bottom {
    position: relative;
    margin-top: 95px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid-gap);
  }

  &__count {
    margin-top: 30px;
    grid-column: 4 span;
    position: relative;

    &__title {
      font: var(--font-smalltitle);
      color: #546e7a;
    }

    &__num {
      display: block;
      position: absolute;
      bottom: -86px;
      left: 0;
      font: var(--font-smalltitle);
      color: #763ea6;
      opacity: 0.07;
      font-size: 528px;
      line-height: 1;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    border-radius: 100%;
    margin-bottom: 58px;
    background: rgb(80, 52, 149);
    background: linear-gradient(90deg, rgba(80, 52, 149, 1) 0%, rgba(0, 86, 149, 1) 100%);

    svg {
      width: 35px;
      height: 33px;
    }
  }

  &__text {
    grid-column: 4 span;
    font: var(--font-text);
    color: #546e7a;
  }

  &__phone {
    position: absolute;
    top: -357px;
    right: 0;
    grid-column: 10 / -1;
    width: 100%;
  }

  &__slider-count {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    grid-column: 12 span;

    &__item {
      width: 17px;
      height: 17px;
      background-color: #7b3da7;
      opacity: 0.2;
      border-radius: 100%;
      transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out,
        width 0.2s ease-in-out;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.active {
        background-color: #00448b;
        opacity: 1;
        width: 100px;
        border-radius: 7.5px;
      }
    }
  }

  &__bg {
    position: absolute;
    right: -678px;
    top: -205px;
    width: 1527px;
    z-index: -10;
  }
}

@media screen and (max-width: 1300px) {
  .customers {
    margin-bottom: 120px;
    &__bg {
      display: none;
    }
    &__count__num {
      font-size: 400px;
      top: -100px;
    }

    &__icon {
      margin-bottom: 10px;
    }
    &__bottom {
      margin-top: 10px;
    }
    &__phone {
      top: -250px;
    }
    &__slider-count {
      bottom: -80px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .customers {
    margin-bottom: 100px;
    &__bottom {
      margin-top: 10px;
    }

    &__text {
      font-size: 15px;
    }

    &__title {
      width: 100%;
      font-size: 30px;
      text-align: center;
      margin-bottom: 50px;
      line-height: 1.2;
    }

    &__count {
      &__num {
        font-size: 300px;
        margin-top: 0;
      }

      &__title {
        font-size: 30px;
      }
    }

    &__icon {
      width: 70px;
      height: 70px;
      margin-bottom: 10px;

      svg {
        width: 25px;
        height: 25px;
      }
    }

    &__phone {
      top: -250px;
    }
  }
}

@media screen and (max-width: 800px) {
  .customers {
    &__icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &__count__title {
      margin-left: 100px;
      font-size: 20px;
    }
    &__count {
      grid-column: 12 span;
    }
    &__text {
      text-align: center;
      grid-column: 12 span;
      grid-row: 2;
    }
    &__count {
      &__num {
        top: -80px;
        font-size: 200px;
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .customers__phone {
    top: -200px;
  }
}

@media screen and (max-width: 500px) {
  .customers__phone {
    top: -150px;
  }
  .customers__count__title {
    margin-left: 50px;
  }
  .customers__icon {
    width: 40px;
    height: 40px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  .customers__phone {
    top: -125px;
    right: 40px;
  }
  .customers__count {
    margin-top: 0;
  }
  .customers__count__num {
    font-size: 100px;
    top: -20px;
    left: 66px;
  }
}
