.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 55px 0;
  width: 100%;

  &__container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;

    justify-content: space-between;
  }
  //   !фон для header
  //   &__bg {
  //     background-color: var(--color-white);
  //     opacity: 0.8;
  //   }

  &__right {
    grid-column: 6 / 13;
    display: flex;
    align-items: center;
  }
}
