.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0 20px;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
  }
  //   !фон для header
  //   &__bg {
  //     background-color: var(--color-white);
  //     opacity: 0.8;
  //   }

  &__right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}
