.mailing {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    font: var(--font-title);
    margin-bottom: 33px;
    color: #263238;
  }

  &__text {
    max-width: 560px;
    font: var(--font-text);
    color: #546e7a;
    margin-bottom: 67px;
  }

  &__form {
    background-color: #005695;

    input {
      background-color: #005695;
    }
    button {
      background-color: var(--color-white);
      color: #005695;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1000px) {
  .mailing {
    &__title {
      font-size: 30px;
      line-height: 1.2;
    }

    &__text {
      font-size: 15px;
      margin-bottom: 25px;
    }
  }
}
