.workers {
  position: relative;
  margin-bottom: 250px;

  &__container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__loved {
    margin-top: 87px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__img {
      width: 58px;
      height: 54px;
      margin-bottom: 36px;
    }
  }
  &__title {
    font: var(--font-title);
    margin-bottom: 30px;
    color: #263238;
  }

  &__text {
    font: var(--font-text);
    color: #7a7554;
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 300px;

    &__item {
      width: 500px;
      height: 100%;
      padding: 40px 30px;
      background-color: var(--color-white);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
      transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      margin-right: 90px;

      &:first-child {
        margin-right: 10%;
        margin-left: 90px;
      }

      &:last-child {
        margin-right: 40px;
      }

      &:hover {
        background-color: #fcfbfd;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }
    }

    &-count {
      bottom: -95px;
    }

    &__info {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &__photo {
      width: 77px;
      height: 77px;
      margin-right: 40px;
    }

    &__name {
      font: var(--font-text);
      color: #503495;
    }

    &__prof {
      color: #263238;
      font: var(--font-text);
      opacity: 0.5;
    }

    &__text {
      color: #7a7554;
      opacity: 0.7;
      font: var(--font-text);
      font-size: 17px;
    }

    &__arrow {
      position: absolute;
      top: 50%;
      width: 49px;
      height: 49px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      transform: translateY(-50%);

      &:active {
        background-color: #cef0fc;
      }

      svg {
        width: 10px;
        height: 18px;
        fill: #5dccf5;
      }
    }

    &--prev {
      left: 0;
      background-color: #cef0fc;
      transform: translateY(-50%) rotate(-180deg);
    }

    &--next {
      right: 0;
    }
  }
}

@media screen and (max-width: 1300px) {
  .workers {
    &__slider {
      height: 350px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .workers {
    margin-bottom: 180px;
    &__lover {
      margin-top: 40px;
      margin-bottom: 60px;
    }
    &__slider {
      justify-content: center;
      &__item {
        margin: 0 !important;
      }
    }
    &__slider__item + &__slider__item {
      display: none;
    }
    &__title {
      font-size: 30px;
    }

    &__loved {
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 700px) {
  .workers__slider__arrow {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .workers {
    margin-bottom: 100px;
    &__loved {
      margin: 30px 0;
      text-align: center;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 15px;
    }

    &__slider-count {
      bottom: -50px;
    }
  }
}
