body {
  font: var(--font-text);
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  max-width: 1290px;
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: var(--grid-gap);
}
.big__container {
  margin: 0 auto;
  max-width: 1410px;
}

.btn {
  padding: 22px 42px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 1;
  font-weight: 300;
  color: var(--color-white);
  transition: background-color 0.2s ease-in-out;
  background-color: var(--color-gigas);

  &:hover {
    background-color: var(--color-gigas-hover);
  }

  &--primary {
    background-color: var(--color-bahama-blue);

    &:hover {
      background-color: var(--color-bahama-blue-hover);
    }
  }
}

.logo {
  display: block;
  width: 219px;
  height: 83px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.br {
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #503495;
  opacity: 0.1;
}
