:root {
  // цвета
  --color-white: #fff;
  --color-black: #000;
  --color-gigas: #be51d5;
  --color-gigas-hover: #be51d9;
  --color-bahama-blue: #005695;
  --color-bahama-blue-hover: #005999;
  --color-placeholder: #b0bec5;

  // отступы
  --grid-gap: 30px;
  --main-offset: 20px;

  //   шрифты
  --font-medium-header: 700 30px / 120% 'Montserrat';
  --font-links: 700 14px / 120% 'Montserrat';
  --font-text: 300 20px / 180% 'Montserrat';
}
