:root {
  // цвета
  --color-white: #fff;
  --color-black: #000;
  --color-gigas: #503495;
  --color-bahama-blue: #005695;

  // отступы
  --grid-gap: 30px;

  //   шрифты
  --font-medium-header: 700 30px / 120% 'Montserrat';
  --font-links: 700 14px / 120% 'Montserrat';
  --font-text: 300 20px / 180% 'Montserrat';
}
